
.header{
    height:200px;
    width: 100%;
    position: relative;
}
.rounds{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: -50px;
}
.round{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
    background: white;
    text-align: center;
    vertical-align: center;
    line-height: 100px;
    font-size: 30px;

}
.maine_cards{
    display: flex;
    justify-content: space-around;
}
.card{
    width: 300px;
    height: 350px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 50px 20px 20px 20px;
    text-align: center;
    justify-content: center;

}
p{
    color: gray;
    margin: 40px 0px;
    font-size: 20px;
}
.button_box{
    display: flex;
    justify-content: center;
}
.button{
    width: 150px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 12px;
    display: block;
    justify-content: center;
    text-align: center;


}
.link{
    text-decoration: none;
    color: black;
}
