body{

}
.main{
    margin: 0 auto;
    height: 600px;
    width: 900px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}
.main_head{
    width: 100%;
    height: 33.3%;
    background: grey;
    border-radius: 10px;
}
.main_body{
    height: 66.6%;
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
.body_b{
    height: 100%;
    width: 66.6%;
    background: grey;
    border-radius: 10px;
}
.body_c{
    height: 100%;
    width: 33.3%;
    background: grey;
    border-radius: 10px;

}
.text{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    font-size: 50px;
    color: white;
}

@media screen and (max-width: 800px){
    .main_body{
        flex-direction: column;
    }
    .body_b{
        width: 100%;
        height: 66.6%;
    }
    .body_c{
        width: 100%;
        height: 33.3%;
    }
}
