html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.wrapper{
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px;
    height: 100%;
    background-image: url("https://raw.githubusercontent.com/rolling-scopes-school/stage1-tasks/assets/images/evening/18.jpg");
}
.header{
    width: 100%;
}
.header_container{
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.maine_container_time{
    font-size: 90px;
    margin-top: -100px;
}
.maine_container{
    margin-bottom: -30px;
}
#name{
    outline: none;
    border: none;
    font-size: 30px;
    font-weight: bold;
    background: none;
    text-decoration: none;
}
.city_input{
    display: block;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.useLi{
    color: white;
}

.owf{
    color: white;
}
.player{
    width: 200px;
    display: flex;
    justify-content: space-around;
}
.pause{
    width: 50px;
    height: 50px;
    background: url("components/photos/pause.png") 0 0/100% 100% no-repeat;
}
.play{
    width: 50px;
    height: 50px;
    background: url("components/photos/free-icon-play-button-149668.png") 0 0/100% 100% no-repeat;
}
.player_back_button{
    width: 50px;
    height: 50px;
    background: url("components/photos/left.png") 0 0/100% 100% no-repeat;
}
.player_next_button{
    width: 50px;
    height: 50px;
    background: url("components/photos/right.png") 0 0/100% 100% no-repeat;
}

.player_next_button:hover{
    cursor: pointer;
    opacity: 0.7;
}
.player_back_button:hover{
    cursor: pointer;
    opacity: 0.7;
}
.player_stop_button:hover{
    cursor: pointer;
    opacity: 0.7;
}
.wether_icon{
    width: 40px;
    height: 40px;
    border: 1px solid black;
}
.maine_container_date{
    margin-top: 20px;
    font-size: 20px;
}
.maine_container_greating{
    display: flex;
    font-size: 30px;
    justify-content: center;
    margin-top: 20px;
    margin-left: 280px;
}

.footer{
    margin-bottom: 30px;
    font-size: 25px;
}
.footer_container_citata{
    height: 70px;
    margin-top: 50px;
    text-shadow: 1px 1px white;
}
.footer_container_button{
    display: flex;
    justify-content: center;
}
.button{
    background: url("components/photos/reload.png")  0 0/100% 100% no-repeat;
    width: 50px;
    height: 50px;
}
.button:hover{
    cursor: pointer;
    opacity: 0.7;
}